/* Specific styles for Select Tournament view */

.tournament-grid {
  -fx-alignment: TOP_CENTER;
  -fx-background-color: transparent;
  -fx-hgap: 20;
  -fx-vgap: 20;
}


/* Card for adding a new tournament */
.add-tournament-card {
  -fx-background-color: -fx-primary-light;
  -fx-border-color: -fx-primary-light;
  -fx-pref-height: 75;
  -fx-pref-width: 700;
}

.add-tournament-card .label {
  -fx-font-size: 20px;
  -fx-text-fill: -fx-secondary;
  -fx-font-family: "Segoe UI Semibold";
  -fx-alignment: CENTER;
  -fx-max-width: infinity;
}

.tournament-card {
  -fx-background-color: -fx-surface;
  -fx-border-color: #e0e6e0;
  -fx-pref-height: 75;
  -fx-pref-width: 800;
}

.tournament-card:hover {
  -fx-background-color: -fx-primary-light;
}

.tournament-card .label {
  -fx-font-size: 18px;
  -fx-text-fill: -fx-secondary;
  -fx-font-family: "Segoe UI Semibold";
}
