.tournament-grid {
    -fx-alignment: TOP_CENTER;
    -fx-background-color: transparent;
}

.add-tournament-card {
    -fx-background-color: -fx-primary-light;
    -fx-border-color: -fx-primary-light;
}

.add-tournament-card .label {
    -fx-font-size: 18px;
    -fx-text-fill: -fx-secondary;
    -fx-font-family: "Segoe UI Semibold";
}

.tournament-card {
    -fx-background-color: -fx-surface;
    -fx-border-color: #e0e6e0;
}

.tournament-card:hover {
    -fx-background-color: -fx-primary-light;
}

.tournament-card .label {
    -fx-font-size: 18px;
    -fx-text-fill: -fx-secondary;
    -fx-font-family: "Segoe UI Semibold";
}
