/* Specific styles for Select Tournament view */

.tournament-grid {
  -fx-alignment: TOP_CENTER;
  -fx-background-color: transparent;
  -fx-hgap: 20;
  -fx-vgap: 20;
}

/* Card content HBox */


/* Label for tournament name/date/duration */
.tournament-card-label {
  -fx-font-size: 15px;
  -fx-padding: 10;
  -fx-max-width: infinity;
  -fx-max-height: infinity;
}

/* Card for adding a new tournament */


.add-tournament-card .label {
  -fx-font-size: 20px;
  -fx-text-fill: -fx-secondary;
  -fx-font-family: "Segoe UI Semibold";
  -fx-alignment: CENTER;
  -fx-max-width: infinity;
}


