.main-container {
    -fx-background-color: #f8faf9;
    -fx-padding: 20;
}

.custom-tab-pane {
    -fx-background-color: transparent;
}

.custom-tab-pane .tab-header-area {
    -fx-padding: 0 0 10 0;
    -fx-background-color: transparent;
}

.custom-tab-pane .tab {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0 5 0 5;
    -fx-background-radius: 8 8 0 0;
    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;
}

.custom-tab-pane .tab .tab-label {
    -fx-text-fill: #95a5a6;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
}

.custom-tab-pane .tab:selected {
    -fx-background-color: #ffffff;
    -fx-border-color: #2ecc71;
    -fx-border-width: 0 0 3 0;
}

.custom-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #2ecc71;
}

.custom-tab-pane .tab-content-area {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 15 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 15, 0, 0, 5);
}

.btn-emerald {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 15px;
    -fx-background-radius: 10;
    -fx-padding: 12 0;
    -fx-cursor: hand;
}

.btn-emerald:hover {
    -fx-background-color: #27ae60;
}

.btn-cancel {
    -fx-background-color: transparent;
    -fx-border-color: #ff4757;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-text-fill: #ff4757;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 15px;
    -fx-padding: 12 0;
    -fx-cursor: hand;
}

.btn-cancel:hover {
    -fx-background-color: #ff4757;
    -fx-text-fill: white;
}