.main-container {
    -fx-background-color: transparent;
}

.info-pane {
    -fx-background-color: -fx-primary-dark;
    -fx-background-radius: 20px;

    -fx-border-color: #dcdde1;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;

    -fx-effect: dropshadow(three-pass-box, rgba(46, 204, 113, 0.1), 5, 0, 0, 0);
}

.label-major {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
    -fx-text-fill: #2d3436;
}