.main-container {
    -fx-background-color: transparent;
}

.info-pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-color: #2ecc71;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 30, 0, 0, 10);
}

.btn-save {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Bold";
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.btn-save:hover {
    -fx-background-color: #27ae60;
}

.text-field-error {
    -fx-border-color: #ff4757 !important;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 71, 87, 0.2), 5, 0, 0, 0);
}

.label-major {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
    -fx-text-fill: #2d3436;
}