.tournament-card-hbox {
  -fx-alignment: CENTER;
  -fx-fill-height: false;
  -fx-padding: 10;
  -fx-spacing: 15;
}

.tournament-card-label {
  -fx-font-size: 15px;
  -fx-padding: 10;
  -fx-max-width: infinity;
  -fx-max-height: infinity;
}

